<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://www.favicon.cc/logo3d/478787.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <title>Upload Files</title>
</head>
<body>
    <div class="container-all">
        <h1 class="<%= classA %>"><%= status %></h1>
        <div class="container-data">
            <div class="container-text">
                <h1>
                    <%= type%>
                </h1>
            </div>
            <div class="container-img">
                <form action="<%= url %>" method="post">
                    <h1></h1>
                    <input type="text" name="<%= inputOne %>">
                    <br>
                    <h1>Url</h1>
                    <input type="url" name="url">
                    <br>
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>